{% extends 'base2.html' %}
{% load static %}

{% block stuff %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'blog/assets/img/chula.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Project and App Dev</h1>
                            <span class="subheading">Coming Soon... To a theatre near you?</span><h1>🤔</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
{% endblock %}
